pandas        >= 1.5
numpy         >= 1.24
python-dotenv >= 1.0

termcolor            == 2.3.*          # colored output
typing-extensions    >= 4.6, < 5.0     # typing_extensions module
colorama             == 0.4.*          # colored output

tqdm          >= 4.65
Werkzeug      >= 2.2
pillow        >= 9.5

requests      >= 2.28
biopython     >= 1.81
PySimpleGUI   >= 4.60

customtkinter >= 0.3
ttkwidgets    >= 0.13
